/* esto es un comentario en css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
* {
  margin: 0;
  padding: 0; }

.boton, .botonDos, .botonTres, .botonCuatro, .botonCinco, .botonSeis, .botonSiete, .botonOcho, .botonNueve, .botonDiez, .botonOnce, .botonDoce {
  background-color: #ad98c2;
  text-align: center;
  color: #080606;
  border-radius: 5px;
  border: 1px solid #a09797;
  padding: 1px 8px;
  text-decoration: none; }
  .boton:hover, .botonDos:hover, .botonTres:hover, .botonCuatro:hover, .botonCinco:hover, .botonSeis:hover, .botonSiete:hover, .botonOcho:hover, .botonNueve:hover, .botonDiez:hover, .botonOnce:hover, .botonDoce:hover {
    filter: opacity(70%);
    background-color: #8d7b7b; }

.botonDos {
  color: #315e5e; }

.botonTres {
  color: #2b8383; }

.botonCuatro {
  color: #196363; }

.botonCinco {
  color: #5528fa; }

.botonSeis {
  color: #4621ca; }

.botonSiete {
  color: #341899; }

.botonOcho {
  color: #21105f; }

.botonNueve {
  color: #295f31; }

.botonDiez {
  color: #2b5030; }

.botonOnce {
  color: #018312; }

.botonDoce {
  color: #00490a; }

.letraChica {
  font-size: 1.2rem;
  font-weight: 100; }

.letraMediana {
  font-size: 1.5rem;
  font-weight: 500; }

.botonFacebook {
  background-color: #8d8dc4;
  border-radius: 5px; }

.botonInstagram {
  background-color: #834c4c;
  border-radius: 5px; }

body {
  background-color: #d9dadb; }

header {
  display: flex;
  padding: 20px;
  background-color: azure;
  flex-direction: column;
  justify-content: center; }

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.pacittiHnos {
  width: 250px;
  outline: 0.1px solid;
  border-radius: 3px;
  box-shadow: 3px 3px 5px; }

.flex:hover .pacittiHnos {
  transform: scale(1.1); }

.menu {
  list-style: none;
  background-color: #d9dadb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px; }
  .menu li {
    display: block;
    padding: 10px 15px; }
    .menu li a {
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
      text-decoration: none;
      color: #2f3146;
      font-weight: bold; }

.imagenFrente {
  border-radius: 3px;
  box-shadow: 3px 3px 5px;
  padding-bottom: 5px; }

/* NOSOTROS */
.negocio {
  display: grid;
  grid-template-areas: "nosotros__texto nosotros__foto" "nosotros__texto__dos nosotros__foto__dos" "nosotros__tres nosotros__tres"; }

.nosotros__texto {
  grid-area: nosotros__texto; }

.nosotros__foto {
  grid-area: nosotros__foto; }

.nosotros__texto__dos {
  grid-area: nosotros__texto__dos; }

.nosotros__tres {
  grid-area: nosotros__tres; }

.nosotros__foto {
  width: 90%;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px; }

.nosotros__foto__dos {
  width: 50%;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px; }

.nosotros {
  margin: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px; }

.nosotros__dos {
  margin: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px; }

.nosotros__tres {
  text-align: center;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px; }

.inicio {
  display: flex;
  flex-direction: column;
  align-items: center; }

.titulo {
  font-size: 60px;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

.presentacion {
  font-size: 55px;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

/* PRODUCTOS */
.card-img-top {
  width: 100%; }

.contenedor__Card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.card {
  width: 250px;
  border: black solid 0.5px;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  text-align: center; }

/* FOOTER */
.redesSociales {
  display: flex;
  flex-direction: column; }
  .redesSociales a {
    width: 20px; }

.instagram {
  width: 200%; }

.facebook {
  width: 200%; }

.whatsapp {
  width: 4%;
  position: fixed;
  bottom: 10px;
  right: 10px; }

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: auto;
  margin: 10px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  background-color: #94b8d8; }

.info__footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Roboto', sans-serif; }

.telefonoDireccion {
  text-align: center; }

/* FORMULARIO */
.formulario__contacto {
  display: flex;
  flex-direction: column;
  align-items: center; }

.formulario__contacto > div > h1 {
  font-family: 'Roboto', sans-serif; }

.formulario__contacto > h2 {
  font-family: 'Roboto', sans-serif; }

.formulario {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-bottom: 8px; }

fieldset {
  background-color: #dfe6e6;
  font-family: 'Roboto', sans-serif;
  text-align: center; }

legend {
  padding: 10px 120px; }

/* SERVICIO */
main > h1 {
  font-family: 'Roboto', sans-serif;
  margin: 5px;
  text-align: center;
  padding: 10px 0 10px 0; }

main > section > h1 {
  font-family: 'Roboto', sans-serif;
  margin: 5px;
  padding: 10px 10px; }

.servicio__Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30% 30% auto;
  font-family: 'Roboto', sans-serif;
  margin: 20px;
  padding: 8px; }

.carcasa {
  width: 50%; }

.positron {
  width: 60%; }

.manijaElectronica {
  width: 70%; }

.cerrojoFlotante {
  width: 90%; }

.manijaPicaporte {
  width: 75%; }

.mensulaRiel {
  width: 70%; }

.scPasador {
  width: 70%; }

.cerraduraBlindex {
  width: 60%; }

.estanteMel {
  width: 60%; }

.llaves {
  display: flex;
  flex-direction: column;
  align-items: center; }

.alarmaAuto {
  display: flex;
  flex-direction: column;
  align-items: center; }

.herrajes {
  display: flex;
  flex-direction: column;
  align-items: center; }

.cerradura {
  display: flex;
  flex-direction: column;
  align-items: center; }

.estante {
  display: flex;
  flex-direction: column;
  align-items: center; }

.pasadores {
  display: flex;
  flex-direction: column;
  align-items: center; }

.picaporte {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

.cerraduraDos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

.mensula {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* MEDIAS QUERY  */
@media screen and (max-width: 780px) and (min-width: 320px) {
  .info {
    display: none; }
  .servicio__Grid {
    display: grid;
    grid-template-columns: auto auto; }
  .imagenFrente {
    width: 50%; }
  .menu {
    display: none; }
  .menu {
    display: inline-block; }
  .presentacion {
    font-size: 40px; }
  .titulo {
    font-size: 50px; }
  .nosotros__texto {
    font-size: 20px; }
  .nosotros__foto {
    display: none; }
  .nosotros__foto__dos {
    display: none; } }
